.holding-container{
    display: inline;

}

.file-upload{
    width: 20vw;
    margin: 0 auto;
    margin-top: 50px;
}


.upload{
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    background-color: #006ffe;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    height: 35px;
    width: 20vw;
    

}


@media only screen and (max-width: 920px){
    .file-upload{
        margin-top: 200px;
    }
}
